@model WebSiteMusicBand.Model.CustomUsers

@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4 class="textCenter">User:</h4>
    <hr />
    <table id="albumInfo" cellspacing="0" cellpadding="0">
        <tr>
            <td class="leftcol" height="auto">
                <img class="img-responsive user-photo" src=@Url.Content(Model.AvatarLink) />
            </td>
            <td valign="top" id="infoPart">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Birthday)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Birthday)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ForumName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ForumName)
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
</div>


@if (SecureCustomHelper.IsCurrentUser(Model))
{
    using (Html.BeginForm("Edit", "Account", FormMethod.Get))
    {
        <input type="submit" value="Edit" class="btn btn-default" />
    }
    using (Html.BeginForm("Index", "Manage", FormMethod.Get))
    {
        <input type="submit" value="Manage" class="btn btn-default" />
    }
    using (Html.BeginForm("Index", "Playlist", FormMethod.Get))
    {
        <input type="submit" value="Your Playlists" class="btn btn-default" />
    }
}

@if (SecureCustomHelper.IsCurrenAdmin() && !SecureCustomHelper.IsCurrentUser(Model))
{
    if (!SecureCustomHelper.IsUserAdmin(Model.Id))
    {
        @Html.BeginForm("SetAdmin", "Account", FormMethod.Post)
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Add admin role" />

        }
    }
    else
    {
        @Html.BeginForm("RemoveAdmin", "Account")
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Remove admin role" />

        }

    }
}
<hr noshade size=2>
<div class="textCenter">
    @if (Model.NewsLikes.Count != 0)
    {

        <h3>Favorit news:</h3>
        <hr noshade size=2>
        foreach (NewsLikes item in Model.NewsLikes.OrderBy(x => x.News.CreateDate).Reverse())
        {
            <div class="post-preview">
                <a href=@Url.Action("Details", "News", new { id = item.NewsId })>
                    <h4>
                        @Html.DisplayFor(modelItem => item.News.Title)
                    </h4>
                    @*<h3 class="post-subtitle">
                            @Html.DisplayFor(modelItem => item.TextContent).ToString().Substring(0, 20)
                        </h3>*@
                </a>
                <div class="post-meta">
                    Posted by
                    @Html.DisplayFor(modelItem => item.CustomUsers.ForumName)
                    @Html.DisplayFor(modelItem => item.News.CreateDate)
                </div>
                @using (Html.BeginForm("Dislike", "News", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("NewsId", item.NewsId)
                    <input type="submit" value="Remove fromn favorite" class="btn btn-default" />
                }
                <hr noshade size=2>
            </div>
        }
    }
    else
    {
        <h4>No favorit news.</h4>
    }
</div>




@section Styles{

    <style>
        form {
            display: inline-block;
            
        }
        #albumInfo {
            width: 100%;
        }

        TD.leftcol {
            width: 30%;
            vertical-align: top;
        }

        .dl-horizontal {
            font-size: 150%;
        }

        #infoPart {
            padding-top: 7%
        }

            #infoPart dt {
                width: 200px;
                margin-right: 15px;
            }
    </style>
}
