@model WebSiteMusicBand.Model.CustomUsers

@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>User:</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Avatar:
        </dt>
        <dd>
            <img class="img-responsive user-photo myImg"  src=@Url.Content(Model.AvatarLink) />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumName)
        </dd>

    </dl>
</div>


@if(SecureCustomHelper.IsCurrentUser(Model))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </p>
    <p>
        @Html.ActionLink("Manage", "Manage", new { id = Model.Id })
    </p>
}


@if (SecureCustomHelper.IsCurrenAdmin() && !SecureCustomHelper.IsCurrentUser(Model))
{
    if (!SecureCustomHelper.IsUserAdmin(Model.Id))
    {
        @Html.BeginForm("SetAdmin", "Account", FormMethod.Post)
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <input type="submit"  value="Add admin role"/>

            }
        }
        else
        {
        @Html.BeginForm("RemoveAdmin", "Account")
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <input type = "submit"  value = "Remove admin role" />
                
        }

    }
}
@if (Model.NewsLikes.Count != 0)
{
    <h4>Favorit news:</h4>
    foreach (NewsLikes item in Model.NewsLikes.OrderBy(x => x.News.CreateDate).Reverse())
    {
        <div class="post-preview">
            <a href=@Url.Action("Details", "News", new { id = item.NewsId })>
                <h2 class="post-title">
                    @Html.DisplayFor(modelItem => item.News.Title)
                </h2>
                @*<h3 class="post-subtitle">
                        @Html.DisplayFor(modelItem => item.TextContent).ToString().Substring(0, 20)
                    </h3>*@
            </a>
            <p class="post-meta">
                Posted by
                @Html.DisplayFor(modelItem => item.CustomUsers.ForumName)
                @Html.DisplayFor(modelItem => item.News.CreateDate)
            </p>
            <hr noshade size=2>
            @using (Html.BeginForm("Dislike", "News", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("NewsId", item.NewsId)
                <input type="submit" value="Remove fromn favorite" class="btn btn-default" />
            }            
            <hr noshade size=2>
        </div>


    }
}
else
{
    <h4>No favorit news.</h4>
}





