@model WebSiteMusicBand.Model.Album
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="center-text">Create New Album:</h2>
<hr />
@using (Html.BeginForm("Create", "Albums", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="inputFields" class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumOfTracks, htmlAttributes: new {@id= "longText", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumOfTracks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumOfTracks, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="textCenter">
            <label ck for="file">Upload Image:</label>
            <input id="fileUpload" type="file" name="file" accept="image/x-png,image/gif,image/jpeg" />
            <div id="imgPreview"></div>
            <br />
        </div>

        <div class="textCenter">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<hr />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/picpreview")
    <script>
        var link = "@Html.Raw(HttpUtility.JavaScriptStringEncode("/Content/Upload/Albums/no_cover.png"))";
        var image_holder = $("#imgPreview");
        image_holder.empty();
        $("<img />", {
            "src": link,
            "id": "thumb-image"
        }).appendTo(image_holder);

    </script>
}

@section Styles{
    <style>
        #center-text {
            text-align: center;
        }
        #inputFields {
            text-align: left;
            width: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #longText {
            padding-left:0px;
            padding-right:0px;
        }
        #fileUpload {
            margin-left: 20%;
        }
        #thumb-image {
            width: auto;
            height: 300px;
        }

    </style>
}