@model WebSiteMusicBand.Model.Album

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="textCenter">Album details:</h2>

<div>
    <hr />
    <table id="albumInfo" cellspacing="0" cellpadding="0">
        <tr>
            <td class="leftcol" height="auto">
                <img class="img-responsive user-photo" src=@Url.Content(Model.CoverLink)  alt=@Model.Title />
            </td>
            <td valign="top" id="infoPart">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Year)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Year)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NumOfTracks)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NumOfTracks)
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
    </div>
<hr />

    @if (SecureCustomHelper.IsCurrenAdmin())
    {
        <div class="btn btn-default myRight">
            @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId })
        </div>
        <div class="btn btn-default myRight">
            @Html.ActionLink("Delete", "Delete", new { id = Model.AlbumId })
        </div>
    }

    <div class="btn btn-default" style="float:left">
        @Html.ActionLink("Back", "Details", new { id = Model.AlbumId })
    </div>
<br/>
<br />
<hr />
<table id="jsGrid"></table>

<hr />

<div>
    @Html.Partial("~/Views/Albums/MusicPlayerBar.cshtml")
</div>

@section Styles{
    @Styles.Render("~/bundles/jsgrid/css")
    @Styles.Render("~/bundles/soundmanager/css")
    @Styles.Render("~/bundles/dropdownmenu/css")
    <style>
        #albumInfo {
            width: 100%;
        }

        TD.leftcol {
            width: 30%; 
            vertical-align: top;
        }

        .dl-horizontal {
            font-size: 150%;
        }

        #infoPart {
            padding-top: 7%
        }

        #infoPart dt {
            width: 200px;
            margin-right: 15px;
        }
    </style>
}

@section Scripts{
    @Scripts.Render("~/bundles/jsgrid/js")
    @Scripts.Render("~/bundles/soundmanager/js")

    <script type="text/javascript">
        var selectedTrackId;
        var elements = [];
        var button = $();



        function dropdownMenu() {

            $.ajax({
                type: "GET",
                url: "/api/PlaylistAjax/" + @SecureCustomHelper.GetCurrentUserId(),
                dataType: "json",
                success: function (data) {
                    if (data.length != 0) {
                        $.each(data, function (i, item) {
                            var linkToAdd = $("<a>").attr('name', item.PlaylistId).text(item.Title).addClass('addToPlaylist');
                            elements.push(linkToAdd);
                        });

                        var divs = $("<div>").addClass("dropdown-content").append(elements);
                        button = $("<button>").addClass("dropbtn").text("Add to:").append(divs);

                        $('body').on('click', 'a.addToPlaylist', function () {
                            if (newPlaylist == 0) {
                                $.ajax({
                                    type: "Post",
                                    url: "/api/playlisttracksajax/" + selectedTrackId + "?playlistId=" + $(this).attr('name'),
                                    success: function (success) {
                                        if (success) {
                                            // +
                                            alert("add");
                                        } else {
                                            // -
                                            alert("smt was wrong. Try again later.")
                                            alert(response.responseText);
                                        }
                                    }
                                });
                            }
                            else {
                                $.ajax({
                                    type: "Post",
                                    url: "/api/PlaylistTracksAjax/" + selectedTrackId + "?oldPlaylistId=" + $(this).attr('name') + "&newPlaylistId" + newPlaylist,
                                    success: function (success) {
                                        if (success) {
                                            // +
                                            $("#jsGrid_Tracks").jsGrid("loadData");
                                            alert("moved");
                                        } else {
                                            // -
                                            alert("smt was wrong. Try again later.")
                                            alert(response.responseText);
                                        }
                                    }
                                });
                            }

                        });

                        $('body').on('click', 'button.dropbtn', function () {
                            closeDrop();
                            selectedTrackId = $(this).attr('name');
                            $(this).find(".dropdown-content").toggleClass("show");
                        });

                        // Close the dropdown menu if the user clicks outside of it
                        window.onclick = function (event) {
                            if (!event.target.matches('.dropbtn')) {
                                closeDrop();
                            };
                        };
                    }
                }
            });
        };

        function closeDrop() {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }

        function albumGrid() {

            $("#jsGrid").jsGrid({

                height: "auto",
                width: "100%",
                autoload: true,

                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "GET",
                            url: "/api/tracks",
                            data: 'albumId=' + @Model.AlbumId,
                            dataType: "json",
                        });
                    },
                },
                onDataLoaded: function (args) {
                    var auth = @Json.Encode(Request.IsAuthenticated);
                    if (auth == false) {
                        $("#jsGrid").jsGrid("fieldOption", "Add", "visible", false);
                    }
                    CreateMusicArray(args.data);
                },
                fields: [
                    { name: "Position", type: "number", width: 50, title: "№" },
                    { name: "NameOfTrack", type: "text", width: 200, title: "Title" },
                    { name: "Duration", type: "text", width: 60 },
                    {
                        name: "Play", width: 50,
                        itemTemplate: function (_, item) {
                            if (item.DoesTrackFileExists) {
                                return $("<button>").text("Play").addClass("dropbtn")
                                    .on("click", function () {
                                        soundManager.stopAll();
                                        window.sm2BarPlayers[0].actions.play(item.GridPosition);
                                    });
                            }
                            else {
                                return $("<div>").text("track not found").css("fontSize", "10px");;
                            }
                        }
                    },
                    {
                        name: "Add",
                        width: 70,
                        visible: function () {
                            if (elements.length == 0) {
                                return false;
                            } else {
                                return true;
                            }
                        },
                        itemTemplate: function (_, item) {
                            return button.clone().attr("name", item.TrackId);
                        },
                    },
                    {
                        itemTemplate: function (_, item) {
                            if (item.DoesTrackFileExists) {
                                return $("<a>").text("Download").attr("href", "/Albums/Download?file=" + item.TrackLink);
                            }
                            else {
                                return "";
                            }
                        }
                    }
                ]
            });

            $("#jsGrid").jsGrid("fieldOption", "NameOfTrack", "align", "center");
        };

        dropdownMenu();
        albumGrid();
    </script>
}

