@model WebSiteMusicBand.Model.Album

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int albID = Model.AlbumId;
    Dictionary<int, int> positionKey_idValue = new Dictionary<int, int>();
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfTracks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfTracks)
        </dd>

        <dd>
            <img class="img-responsive user-photo myImg" src=@Url.Content(Model.CoverLink) />
        </dd>

    </dl>

    <br/>
    </div>

    @if (SecureCustomHelper.IsCurrenAdmin())
    {
        <div class="btn btn-default myRight">
            @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId })
        </div>
        <div class="btn btn-default myRight">
            @Html.ActionLink("Delete", "Delete", new { id = Model.AlbumId })
        </div>
    }


    <div class="btn btn-default" style="float:left">
        @Html.ActionLink("Back", "Details", new { id = albID })
    </div>
<br/>

<table id="jsGrid"></table>



<div>

@Html.Partial("~/Views/Albums/MusicPlayerBar.cshtml", Model)
</div>

@section Styles{
    @Scripts.Render("~/bundles/jsgrid/css")
}

@section Scripts{
    @Scripts.Render("~/bundles/jsgrid/js")

    <script type="text/javascript">
        var alb = @albID;
        $("#jsGrid").jsGrid({

            height: "auto",
            width: "100%",

            inserting: true,
            editing: true,
            autoload: true,

            pageSize: 10,
            pageButtonCount: 5,

            deleteConfirm: "Do you really want to delete client?",

            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "GET",
                        url: "/api/tracks",
                        data: 'albumId=' + alb,
                        dataType: "json"
                    });
                },

                insertItem: function (item) {
                    return $.ajax({
                        type: "POST",
                        url: "/api/Tracks/" + alb,
                        data: item,
                        dataType: "json"
                    });
                },

                updateItem: function (item) {
                    return $.ajax({
                        type: "PUT",
                        url: "/api/Tracks/",
                        data: item,
                        dataType: "json"
                    });
                },

                deleteItem: function (item) {
                    return $.ajax({
                        type: "DELETE",
                        url: "/api/Tracks/" + item.TrackId,
                        dataType: "json"
                    });
                }
            },

            fields: [
                { name: "Position", type: "number", width: 35, title: "№" },
                { name: "NameOfTrack", type: "text", width: 150, title: "Title" },
                { name: "Duration", type: "text", width: 100 },                     
                {
                    itemTemplate: function (_, item) {
                        if(item.DoesTrackFileExists == ""){
                            return $("<button>").text("Play")
                                .on("click", function () {
                                    soundManager.stopAll();
                                    window.sm2BarPlayers[0].actions.play(item.GridPosition);
                                });
                        }
                        else{
                            return $("track not found");
                        }
                            //need check does file exist
                        }
                    },
                { type: "control", width: 50 }
            ]
        });
        $("#jsGrid").jsGrid("fieldOption", "NameOfTrack", "align", "center");

    </script>
}

