@model WebSiteMusicBand.Model.Album

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="textCenter">Album details:</h2>

<div>
    <hr />
    <table id="albumInfo" cellspacing="0" cellpadding="0">
        <tr>
            <td class="leftcol" height="auto">
                <img class="img-responsive user-photo" src=@Url.Content(Model.CoverLink)  alt=@Model.Title />
            </td>
            <td valign="top" id="infoPart">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Year)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Year)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NumOfTracks)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NumOfTracks)
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
    </div>
<hr />

    @if (SecureCustomHelper.IsCurrenAdmin())
    {
        <div class="btn btn-default myRight">
            @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId })
        </div>
        <div class="btn btn-default myRight">
            @Html.ActionLink("Delete", "Delete", new { id = Model.AlbumId })
        </div>
    }

    <div class="btn btn-default" style="float:left">
        @Html.ActionLink("Back", "Details", new { id = Model.AlbumId })
    </div>
<br/>
<br />
<hr />
<table id="jsGrid"></table>

<hr />

<div>
    @Html.Partial("~/Views/Albums/MusicPlayerBar.cshtml")
</div>

@section Styles{
    @Styles.Render("~/bundles/jsgrid/css")
    @Styles.Render("~/bundles/soundmanager/css")
    @Styles.Render("~/bundles/dropdownmenu/css")
    <style>
        #albumInfo {
            width: 100%;
        }

        TD.leftcol {
            width: 30%; 
            vertical-align: top;
        }

        .dl-horizontal {
            font-size: 150%;
        }

        #infoPart {
            padding-top: 7%
        }

        #infoPart dt {
            width: 200px;
            margin-right: 15px;
        }
    </style>
}

@section Scripts{
    @Scripts.Render("~/bundles/jsgrid/js")
    @Scripts.Render("~/bundles/soundmanager/js")
    @Scripts.Render("~/bundles/dropdownmenu/js")

    <script type="text/javascript">
        function detailsPageFunc(alb) {

            $("#jsGrid").jsGrid({

                height: "auto",
                width: "100%",
                autoload: true,

                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "GET",
                            url: "/api/tracks",
                            data: 'albumId=' + @Model.AlbumId,
                            dataType: "json",
                        });
                    },
                },
                onDataLoaded: function (args) {
                    CreateMusicArray(args.data);
                },
                fields: [
                    { name: "Position", type: "number", width: 50, title: "№" },
                    { name: "NameOfTrack", type: "text", width: 300, title: "Title" },
                    { name: "Duration", type: "text", width: 60 },
                    {
                        name: "Play", width: 50,
                        itemTemplate: function (_, item) {
                            if (item.DoesTrackFileExists) {
                                return $("<button>").text("Play")
                                    .on("click", function () {
                                        soundManager.stopAll();
                                        window.sm2BarPlayers[0].actions.play(item.GridPosition);
                                    });
                            }
                            else {
                                return $("<div>").text("track not found");
                            }
                        }
                    },
                    {
                        name: "Add",
                        width: 50,
                        visible: function () {
                            if (elements.length == 0) {
                                return false;
                            } else {
                                return true;
                            }
                        },
                        itemTemplate: function (_, item) {
                            return button.clone().attr("name", item.TrackId);
                        },
                    },
                    {
                        itemTemplate: function (_, item) {
                            if (item.DoesTrackFileExists) {
                                return $("<a>").text("Download").attr("href", "/Albums/Download?file=" + item.TrackLink);
                            }
                            else {
                                return "";
                            }
                        }
                    }
                ]
            });
            //if (elements.length == 0) {
            //    $("#jsGrid").jsGrid("fieldOption", "Add", "visible", false);
            //}
            //$("#jsGrid").jsGrid("fieldOption", "TrackId", "visible", false);
            $("#jsGrid").jsGrid("fieldOption", "NameOfTrack", "align", "center");
        };



        dropdownMenu(detailsPageFunc,@SecureCustomHelper.GetCurrentUserId(),@Model.AlbumId);
    </script>
}

