@model WebSiteMusicBand.Model.Album

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfTracks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfTracks)
        </dd>

        <dd>
            <img class="img-responsive user-photo myImg" src=@Url.Content(Model.CoverLink) />
        </dd>

    </dl>

    @{
        if (Model.Tracks.Count != 0)
        {
            foreach (Track item in Model.Tracks.OrderBy(x => x.Position).Reverse())
            {
                if (item.TrackLink != null)
                {
                    <ul class="playlist">
                        <li><a href="@item.TrackLink.Replace("~","")"> @item.NameOfTrack</a></li>
                    </ul>
                }
                else
                {
                    <div> File not upload </div>
                }

            }
        }
        else
        {
            //!V
        }
    }
    @if (SecureCustomHelper.IsCurrenAdmin())
    {
        <div class="btn btn-default myRight">
            @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId })
        </div>
        <div class="btn btn-default myRight">
            @Html.ActionLink("Delete", "Delete", new { id = Model.AlbumId })
        </div>
    }




    <div class="btn btn-default" style="float:left">
        @Html.ActionLink("Back", "")
    </div>

</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/soundmanager/soundmanager2.js"></script>
    <script type="text/javascript" src="~/Scripts/soundmanager/page-player.js"></script>
    }
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/soundmanager/page-player.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/soundmanager/flashblock.css" />

    }
