@model WebSiteMusicBand.Model.Album

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Albums", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken() 
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AlbumId)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumOfTracks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumOfTracks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumOfTracks, "", new { @class = "text-danger" })
            </div>
        </div>

        <label for="file">Upload Image:</label>
        <input type="file" name="file" />
        <div id="dvPreview"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table id="jsGrid"></table>



<div>

    @Html.Partial("~/Views/Albums/MusicPlayerBar.cshtml", Model)
</div>

@section Styles{
@Scripts.Render("~/bundles/jsgrid/css")
}

@section Scripts{
@Scripts.Render("~/bundles/jsgrid/js")
   

    <script type="text/javascript">
        var alb = @albID;
        $("#jsGrid").jsGrid({

            height: "auto",
            width: "100%",

            inserting: true,
            editing: true,
            autoload: true,

            pageSize: 10,
            pageButtonCount: 5,

            deleteConfirm: "Do you really want to delete client?",

            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "GET",
                        url: "/api/tracks",
                        data: 'albumId=' + alb,
                        dataType: "json"
                    });
                },

                insertItem: function (item) {
                    return $.ajax({
                        type: "POST",
                        url: "/api/Tracks/" + alb,
                        data: item,
                        dataType: "json"
                    });
                },

                updateItem: function (item) {
                    return $.ajax({
                        type: "PUT",
                        url: "/api/Tracks/",
                        data: item,
                        dataType: "json"
                    });
                },

                deleteItem: function (item) {
                    return $.ajax({
                        type: "DELETE",
                        url: "/api/Tracks/" + item.TrackId,
                        dataType: "json"
                    });
                }
            },

            fields: [
                { name: "AlbumId", type: "number"},
                { name: "TrackId", type: "number" },
                { name: "Position", type: "number", width: 35, title: "№" },
                { name: "NameOfTrack", type: "text", width: 150 },
                { name: "TrackLink", type: "text", width: 150 },
                 {
                     itemTemplate: function (_, item) {
                         return $("<button>").text("Upload Track")
                             .on("click", function () {
                                
                             });
                     }
                 },
                {
                        itemTemplate: function (_, item) {
                            return $("<button>").text("Play")
                                .on("click", function () {
                                soundManager.stopAll();
                                window.sm2BarPlayers[0].actions.play(item.GridPosition);
                            });
                        }
                    },
                { type: "control", width: 50 }
            ]
        });
        $("#jsGrid").jsGrid("fieldOption", "AlbumId", "visible", false);
        $("#jsGrid").jsGrid("fieldOption", "TrackId", "visible", false);
        $("#jsGrid").jsGrid("fieldOption", "NameOfTrack", "align", "center");
    </script>
}

