@model WebSiteMusicBand.Model.Album

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Albums", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken() 
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AlbumId)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumOfTracks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumOfTracks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumOfTracks, "", new { @class = "text-danger" })
            </div>
        </div>

        <label for="file">Upload Image:</label>
        <input type="file" name="file" />
        <div id="dvPreview"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}

        @{
            if (Model.Tracks.Count != 0)
            {
                foreach (Track item in Model.Tracks.OrderBy(x => x.Position).Reverse())
                {
                    if (item.TrackLink != "")
                    {
                        <ul class="playlist">
                            <li><a href="@item.TrackLink">@item.NameOfTrack</a></li>
                        </ul>

                    }
                    else
                    {
                        <div> File not upload </div>
                    }
                    @Html.ActionLink("Edit track", "EditTrack", new { id = item.TrackId })
                }
            }
        }
        

        @Html.ActionLink("Create new track", "CreateTrack", new { id = Model.AlbumId })     


        <div class="btn btn-default">
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>

        @section scripts{
            <script src="~/Scripts/PicPreview.js"></script>
            <script> 
                window.onload = function{
                    var div = document.getElementById('secondAddTrackDiv');
                     div.style.display = 'block';
                }
                function buttonbClk{
                    var div = document.getElementById('secondAddTrackDiv');
                    div.style.display = 'none';
                    var div = document.getElementById('firstAddTrackDiv');
                    div.style.display = 'block';
                    }
                }

            </script>
        }
