<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Band FanSite</title>
    @Styles.Render("~/bundles/css")


    <script src=@(MvcApplication.linkToApp + $"Scripts/tinymce/tinymce.min.js") ></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css'
        });
    </script>

    <!-- Custom Fonts -->
    <link href=@(MvcApplication.linkToApp + $"Content/font-awesome/css/font-awesome.min.css")  rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
  @{Html.RenderPartial("_MenuPart");}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url(@(MvcApplication.linkToApp + $"Content/img/home.jpg") )">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Music Band FanSite</h1>
                        <hr class="small">
                        <span class="subheading">by Denysenko V</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        @{Html.RenderPartial("_FooterPart");}
    </div>

    @Scripts.Render("~/bundles/JS")

    @RenderSection("scripts", required: false)
</body>
</html>
