@model IEnumerable<WebSiteMusicBand.Model.TableViewM>

@{
    ViewBag.Title = "StatTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2>
        <b>UsersStatistics</b>
    </h2>
</center>
<br />

@using (Html.BeginForm("ExportData", "Statistics", FormMethod.Post))
{
    <table class="table" >
        <tr align='center'>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfPosts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfComments)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfPosts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfComments)
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
