@model IEnumerable<WebSiteMusicBand.Model.News>

@{
    ViewBag.Title = "Long List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="section-heading">
                        <h2>
                            <a href=@Url.Action("Details", "News", new { id = item.Id })>
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </h2>
                    </div>
                    <div>
                        @Html.Raw(item.TextContent)
                    </div>


                    <p class="post-meta">
                        Posted by
                        @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </p>
                    <div class="btn btn-default">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </div>
                    <div class="btn btn-default">
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </div>
                    <div class="btn btn-default">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </div>
            </div>
        </div>
    </article>
    <hr>

}

<div>
    @Html.PageLinks((PagingInfo)ViewBag.PageInfo, x => Url.Action("ListLong", new { page = x }))
</div>
